* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }  
header {
    background: #018A30;
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .language a {
    color: white;
    font-size: 17px;
    position: relative;
}
header .language a:hover,
header .language .active {
    color: #FFF32B;
}
header .language .ar {
    left: -7px;
}
header .language .ar::after {
    content: "";
    background: rgb(241, 241, 241);
    width: 1px;
    height: 80%;
    position: absolute;
    right: -7px;
}
header .language button {
    font-weight: 800;
    color: white;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
header .registration {
    color: white;
    letter-spacing: .5px;
    position: relative;
}
header .registration::after {
    content: "\f107";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: 5px;
}
nav {
    padding: 21px;
    background: #005F21;
    overflow: hidden;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: white;
    font-weight: 300;
    padding: 30px 20px;
    margin-right: 25px;
    letter-spacing: .2px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
nav ul li a:hover, 
nav ul li .active {
    color: black;
    background: #F9D038;
    font-weight: bold;
}
/* *************************************************************************** */
main {
    height: 360px;
    position: relative;
    background: url(../images/bg.png) no-repeat 0% 50%;
    background-size: cover;
}
main h1 {
    padding: 50px 0 40px; 
    margin: 0;
    font-size: 70px;
    color: white;
    font-weight: 700;
    letter-spacing: 17.75px;
    width: 730px;
}
main .tx {
    color: #FFFFFF;
    font-size: 26px;
    opacity: 0.8;
    width: 820px;
    margin-bottom: 20px;
}
/* ************ */
.flex-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.flex-row div {
    cursor: pointer;
    font-weight: bold;
    width: 10%;
    height: 55%;
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.flex-row a {
    color: rgb(0, 0, 0);
}
.flex-row div:hover {
    background: #F9D038;
}
.flex-row .active {
    background: #F9D038;
    color: black;
}
/* ********************************************* */
.brands {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1650px;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 50px;
}
.brands .brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 255px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0 5px 8px 0 rgb(214, 214, 214);
}

/* *********************************************** */
footer {
    background: #F2F2F2;
    padding: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    color: #515151;
}
footer span {
    color: #8EC641;
}
